.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  background: var(--primary-glow);
  filter: blur(100px);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem !important;
  }
}
